<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <style>
        body{
            margin:0px;
            padding : 0px;
        }
        a{
            color:blue;
            margin : 0px 5px;
        }
        header{
            background-color: gray;
            padding:20px
        }
        section{
            margin : 10px;
        }
        .user_details{
            background-color: burlywood;
            margin : 10px;
        }

    </style>
</head>
<body>
  <header>
      <nav>
         <a href="/">User List</a>
         <a href="/add-user">Add new</a>
         
      </nav>
   </header>
   <div>
       <h1>User list</h1>
       
       <% if(users.length > 0) { %>

        <% for(let i=0;i < users.length;i++) { %>

            <div class="user_details">
                <p>
                    Name : <%= users[i].first_name+" "+users[i].last_name  %>
                </p>
                <p>
                    Email : <%= users[i].email  %>
                </p>
                <p>
                    Role : <%= (users[i].user_role.role_id == 1)?"ADMIN":"OTHERS"  %>
                </p>
            </div>
           
      <% }  } else { %>
      
        <h2>No user available</h2>
       <% } %>

   </div>  
</body>
</html>